@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.aside .logo a:before {
  border-top: 4px solid #ec1839;
  border-left: 4px solid #ec1839; }

.aside .logo a:after {
  border-bottom: 4px solid #ec1839;
  border-right: 4px solid #ec1839; }

.aside .logo a:hover {
  color: #ec1839; }

.section-title h2:before {
  background-color: #ec1839; }

aside .nav-toggler span, aside .nav-toggler:before, aside .nav-toggler:after {
  background-color: #ec1839; }

.about {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex; }
  .about.section {
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .about.section .container {
      max-width: 1100px;
      padding-top: 60px;
      padding-bottom: 70px;
      margin: auto;
      width: 100%; }
      .about.section .container .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        position: relative; }
        .about.section .container .row .section-title {
          flex: 0 0 100%;
          max-width: 100%;
          -ms-flex: 0 0 100%; }
          .about.section .container .row .section-title h2 {
            font-size: 40px;
            font-weight: 700;
            margin: 0; }
            .about.section .container .row .section-title h2:before {
              content: '';
              height: 4px;
              width: 50px;
              position: absolute;
              top: 100%;
              left: 0;
              background-color: #ec1839; }
      .about.section .container .row-2 {
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px; }
        .about.section .container .row-2 .col-md-6 {
          background-color: white;
          /* border:3px solid blue; */
          border-radius: 20px; }
          .about.section .container .row-2 .col-md-6 p {
            text-align: center;
            margin-top: 10px; }
          .about.section .container .row-2 .col-md-6 h2 {
            text-align: center;
            color: aqua; }
          .about.section .container .row-2 .col-md-6 .skill {
            display: grid;
            grid-gap: 16px;
            padding: 16px;
            grid-template-columns: auto auto; }
            .about.section .container .row-2 .col-md-6 .skill span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              height: 50px;
              border-radius: 25%;
              background-color: pink;
              color: white;
              font-size: 28px;
              /* margin-inline:auto; */ }
          .about.section .container .row-2 .col-md-6 .set strong {
            padding-block: 14px;
            font-size: 24px;
            color: pink;
            text-align: center; }
          .about.section .container .row-2 .col-md-6 .set .list {
            padding-block: 10px;
            display: grid; }
          .about.section .container .row-2 .col-md-6 a .btn {
            border: 2px solid #837d7d;
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
            font-weight: 700;
            border-radius: 10%;
            padding: 10px 16px;
            background: none;
            margin-left: 150px;
            cursor: pointer;
            font-family: Georgia, 'Times New Roman', Times, serif;
            transition: 0.8s;
            position: relative;
            overflow: hidden;
            background: pink; }
            .about.section .container .row-2 .col-md-6 a .btn:before {
              content: '';
              position: absolute;
              left: 0;
              width: 100%;
              height: 0%;
              /* z-index:-1; */
              transition: 0.8s; }
          .about.section .container .row-2 .col-md-6 a.btn-info {
            color: #d37383; }
            .about.section .container .row-2 .col-md-6 a.btn-info:hover {
              color: #ffff; }
              .about.section .container .row-2 .col-md-6 a.btn-info:hover:before {
                height: 30%; }
            .about.section .container .row-2 .col-md-6 a.btn-info:before {
              top: 0;
              border-radius: 0 0 50% 50%; }

.project {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex; }
  .project.section {
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .project.section .container {
      padding-bottom: 30px;
      max-width: 1100px;
      padding-top: 60px;
      padding-bottom: 70px;
      margin: auto;
      width: 100%; }
      .project.section .container .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        position: relative; }
        .project.section .container .row .section-title {
          flex: 0 0 100%;
          max-width: 100%;
          -ms-flex: 0 0 100%; }
          .project.section .container .row .section-title h2 {
            font-size: 40px;
            font-weight: 700;
            margin: 0; }
            .project.section .container .row .section-title h2:before {
              content: '';
              height: 4px;
              width: 50px;
              position: absolute;
              top: 100%;
              left: 0;
              background-color: #ec1839; }
      .project.section .container .row {
        margin-bottom: 40px; }
        .project.section .container .row .project-filter {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center; }
          .project.section .container .row .project-filter button {
            border: none;
            background-color: transparent;
            font-size: 16px;
            font-weight: 700;
            font-family: "Lora", serif;
            text-transform: uppercase;
            margin: 0 10px;
            color: #302e4d;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            white-space: nowrap;
            padding-bottom: 2px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            .project.section .container .row .project-filter button.active {
              color: #ec1839;
              border-bottom: 2px solid #ec1839; }
      .project.section .container .row {
        margin-bottom: 30px; }
        .project.section .container .row .project-item {
          flex: 0 0 33.33%;
          max-width: 33.33%;
          margin-bottom: 20px; }
          .project.section .container .row .project-item .project-item-inner {
            position: relative; }
          .project.section .container .row .project-item .project-img {
            border: 6px solid pink;
            border-radius: 10px;
            margin: 5px;
            overflow: hidden;
            cursor: pointer; }
            .project.section .container .row .project-item .project-img img {
              width: 100%;
              display: block; }
          .project.section .container .row .project-item .project-info {
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.7);
            height: 100%;
            width: 100%;
            z-index: 1;
            padding: 30px;
            opacity: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            .project.section .container .row .project-item .project-info:hover {
              opacity: 1; }
            .project.section .container .row .project-item .project-info a {
              font-size: 18px;
              font-weight: 700;
              color: #ffffff;
              -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease; }

.contact {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex; }
  .contact.section {
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .contact.section .container {
      padding-bottom: 70px;
      max-width: 1100px;
      padding-top: 60px;
      padding-bottom: 70px;
      margin: auto;
      width: 100%; }
      .contact.section .container .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        position: relative; }
        .contact.section .container .row .section-title {
          flex: 0 0 100%;
          max-width: 100%;
          -ms-flex: 0 0 100%; }
          .contact.section .container .row .section-title h2 {
            font-size: 40px;
            font-weight: 700;
            margin: 0; }
            .contact.section .container .row .section-title h2:before {
              content: '';
              height: 4px;
              width: 50px;
              position: absolute;
              top: 100%;
              left: 0;
              background-color: #ec1839; }
      .contact.section .container .row-2 {
        margin: 0;
        padding: 0;
        font-family: "Lora", serif;
        box-sizing: border-box;
        background: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px; }
        .contact.section .container .row-2 .contact-info {
          display: flex;
          width: 100%;
          max-width: 1200px;
          align-items: center;
          justify-content: center;
          padding: 0 20px; }
          .contact.section .container .row-2 .contact-info .card {
            background: #ffffff;
            padding: 0 20px;
            margin: 0 10px;
            width: calc(33%- 20px);
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s; }
            .contact.section .container .row-2 .contact-info .card .card-icon {
              font-size: 20px;
              background: pink;
              width: 60px;
              height: 60px;
              border-radius: 50%;
              text-align: center;
              line-height: 60px;
              transition: 0.3s linear; }
              .contact.section .container .row-2 .contact-info .card .card-icon:hover {
                background: none;
                color: pink;
                transform: scale(1.6); }
            .contact.section .container .row-2 .contact-info .card p {
              margin-top: 20px;
              font-weight: 400;
              font-size: 18px;
              max-width: 300px;
              min-width: 300px;
              max-height: 0;
              color: #000000;
              text-align: center;
              transition: 0.3s linear; }
              .contact.section .container .row-2 .contact-info .card p:hover {
                max-height: 20px; }
      .contact.section .container .row-3 {
        margin: 0;
        padding: 0;
        font-family: "Lora", serif;
        box-sizing: border-box;
        background: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px; }
        .contact.section .container .row-3 .contact-info {
          display: flex;
          width: 100%;
          max-width: 1200px;
          align-items: center;
          justify-content: center;
          padding: 0 20px; }
          .contact.section .container .row-3 .contact-info .card {
            background: #ffffff;
            padding: 0 20px;
            margin: 0 10px;
            width: calc(33%- 20px);
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s; }
            .contact.section .container .row-3 .contact-info .card a {
              color: #000000; }
            .contact.section .container .row-3 .contact-info .card .card-icon {
              font-size: 20px;
              background: pink;
              width: 60px;
              height: 60px;
              border-radius: 50%;
              text-align: center;
              line-height: 60px;
              transition: 0.3s linear; }
              .contact.section .container .row-3 .contact-info .card .card-icon:hover {
                background: none;
                color: pink;
                transform: scale(1.6); }
            .contact.section .container .row-3 .contact-info .card p {
              margin-top: 20px;
              font-weight: 200;
              font-size: 18px;
              max-width: 300px;
              min-width: 300px;
              max-height: 0;
              color: #000000;
              text-align: center;
              transition: 0.3s linear; }
              .contact.section .container .row-3 .contact-info .card p:hover {
                max-height: 20px; }

body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Lora", serif;
  font-weight: 400; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box; }

::before,
::after {
  box-sizing: border-box; }

.aside {
  width: 270px;
  background-color: #fdf9ff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  border-right: 1px solid #e8dfec;
  padding: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .aside .open {
    left: -270px; }
  .aside .logo {
    padding: 30px 0; }
    .aside .logo a {
      font-family: "Lora", sans-serif;
      font-size: 40px;
      color: #302e4d;
      font-weight: 700;
      text-decoration: none;
      display: inline-block;
      position: relative;
      padding: 0 10px;
      line-height: 50px; }
      .aside .logo a:before {
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        top: 0;
        left: 0; }
      .aside .logo a:after {
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        bottom: 0;
        right: 0; }
  .aside .nav-toggler {
    height: 40px;
    width: 40px;
    border: 1px solid #d4d4e3;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 30px;
    z-index: 11;
    border-radius: 5px;
    background-color: #fdf9ff;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .aside .nav-toggler span {
      height: 2px;
      width: 16px;
      display: inline-block;
      position: relative;
      background-color: #ec1839; }
      .aside .nav-toggler span:before {
        content: "";
        height: 2px;
        width: 16px;
        position: absolute;
        left: 0;
        top: -6px;
        background-color: #ec1839; }
      .aside .nav-toggler span:after {
        content: "";
        height: 2px;
        width: 16px;
        position: absolute;
        left: 0;
        top: 6px;
        background-color: #ec1839; }
  .aside .nav {
    list-style: none;
    margin: 80px 0;
    padding: 0; }
    .aside .nav li {
      display: block; }
      .aside .nav li a {
        font-size: 16px;
        font-weight: 600;
        color: #302e4d;
        text-decoration: none;
        line-height: 45px;
        display: block;
        border-bottom: 1px solid #e8dfec;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .aside .nav li a .active {
          color: #a71a1a; }
        .aside .nav li a:hover {
          padding-left: 5px;
          color: #a71a1a; }
        .aside .nav li a .fa {
          margin-right: 5px; }
  .aside .copyright-text {
    font-size: 13px;
    color: #7d7d7d; }

.main-content .home {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex; }
  .main-content .home.section {
    background-color: #fdf9ff;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .main-content .home.section.active {
      opacity: 1;
      z-index: 2;
      -webkit-animation: slideSection 1s ease;
      animation: slideSection 1s ease; }
  .main-content .home .container {
    max-width: 1100px;
    margin-top: 100px;
    margin-left: -20px;
    width: 100%; }
    .main-content .home .container .intro {
      text-align: center;
      font-size: 20px;
      font-weight: 600; }
      .main-content .home .container .intro img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: inline-block;
        border: 8px solid #ffffff; }
      .main-content .home .container .intro > .social-link {
        margin-top: 20px; }
        .main-content .home .container .intro > .social-link a {
          height: 35px;
          width: 35px;
          display: inline-block;
          text-align: center;
          line-height: 35px;
          color: #ec1839;
          margin: 0 3px;
          border-radius: 50%;
          border: 1px solid #ec1839;
          margin: 0 4px;
          text-decoration: none;
          padding-bottom: 5px;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease; }
          .main-content .home .container .intro > .social-link a:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }
